@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
:root{
    --Red: hsl(0, 100%, 68%);
    --Very-Dark-Blue: hsl(230, 29%, 20%);
--Dark-Grayish-Blue: hsl(230, 11%, 40%);
--Grayish-Blue: hsl(231, 7%, 65%);
--Light-Grayish-Blue: hsl(207, 33%, 95%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-family: 'Barlow Condensed', sans-serif;
    overflow: hidden;
}
.background{
    position: absolute;
    height: 50%;
    width: 50%;
    right: -25%;
    top: 0;
    border-bottom-left-radius: 150px;
    transform: translateX(-50%);
    background-color: var(--Light-Grayish-Blue);
}
.hr{
    padding-left: 30px;
}
.hr::before{
    content: "";
    position: absolute;
    left: -40%;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    border-radius: 140px;
    background-color: grey;
}
.nav-link:hover{
    text-decoration: underline !important;
}
.section .container{
    height: calc(100vh - (93.9px + 16px + 16px));
}
.description{
    width: 50%;
    height: 60vh;
}
.description h1{
    color: var(--Very-Grayish-Blue);
    font-size: 70px;
    width: 90%;
    text-transform: uppercase;
    font-weight: bolder !important;
}
.description p{
    width: 45%;
}
.red{
    background-color: var(--Red);
    border: none;
    outline: none;
    transition: all 0.5s;
}
.red:hover{
    opacity: 0.5;
    background-color: var(--Red);
}
.image{
    width: 50%;
    z-index: 2;
    height: 60vh;
    left: 7%;
    padding-top: 0;
    padding-bottom: 0;
}
img{
    width: 140%;
}
@media (max-width:680px){
    body{
        overflow: hidden;
    }
    .background{
    position: absolute;
    height: 60%;
    width: 50%;
    right: -25%;
    top: 0;
    border-bottom-left-radius: 150px;
    transform: translateX(-50%);
    background-color: var(--Light-Grayish-Blue);
}
.active{
    display: flex !important;
    position: absolute !important;
    left: 50% !important;
    top: 10vh;
    background-color: white;
    box-shadow: 0px 0px 6px 0px grey;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation-name: appear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    z-index: 5;
}
ul{
    letter-spacing: 3px;
}
.hr{
    padding-top: 20px !important;
}
.hr::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    width: 15rem;
    height: 1px;
    opacity: 0.5;
    background-color: grey;
    padding: 0px;
}
.section .container{
    height: calc(100vh - (93.9px + 10px + 10px));
    overflow: hidden;
    padding-bottom: 6vh;
}
.description{
    width: 100%;
    height: calc(60vh / 2);
}
.description h1{
    color: var(--Very-Grayish-Blue);
    font-size: 40px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder !important;
}
.description p{
    width: 100%;
}
.description h5{
    letter-spacing: normal !important;
}
.section .container{
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: space-between !important;
    align-items: center;
}
.image{
    width: 100%;
    z-index: 2;
    height: 30vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 6vh;
    left: 0;
    top: -3%;
}
img{
    width: 140%;
    overflow: hidden;
}
}
@keyframes appear{
    from{
        top: 30vh;
        position: absolute !important;
        left: 50% !important;
    transform: translateX(-50%);

    }
    to{
        top: 10vh;
        transform: translateY(0);
        position: absolute !important;
        left: 50% !important;
    transform: translateX(-50%);

    }
}